# JWT Secrets & Envs
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_API_KEY_SECRET=""

# Cookie Secrets & Envs
COOKIE_SECRET=""


# DB Secrets & Envs
MONGODB_URI=""
REDIS_URL=""
REDIS_PASSWORD=""

# Auth Secrets
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
